### Scala-CLI build files
.scala-build/

### Generated executables
metals-standalone-client
metals-standalone-client-standalone

### Scala template
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE and build tool files
.metals/
.bloop/
.idea/
project/.bloop/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/